<%= form_with(model: @article, local: true) do |form| %>
  
    <div class="field">
        <%=form.label :title, "Titulo" %>  
        <%=form.text_field :title %> 
    </div>

    <div class="field">
        <%=form.label :status, "Estado" %>  
        <%=form.number_field :status %> 
    </div>

    
    <div class="field">
        <%=form.label :content,"Contenido" %>  
        <%=form.rich_text_area :content %> 
    </div>

    <div>
        <%= form.submit%>  
    </div>
<%end%> 