<div class="large-container center-block" >
<h1><%=@article.title%></h1>

<div>
    <p>Escrito por: <strong><%= @article.user.email%></strong></p>
</div>

<div>

<%= @article.content %>
</div>

<div class="margin-top">
    <h5 class="label">Tags</h5>
    <% @article.categories.each do |category| %>
        <span class="badge badge-pill padding"  style="background-color:<%= category.color %>" >
            <%= link_to category.title, category, class:"text-white" %>
        </span>
    <% end %>

</div>


<div>
    Para más cambios, ir a tus articulos.
</div>

</div>