<nav class="nav bg-light padding">
    <li class="nav-item"> 
        <%= link_to "Inicio", root_path, class:"nav-link" %>
    </li>
    <li class="nav-item"> 
        <%= link_to "Articulos", articles_path, class:"nav-link" %>
    </li>
  
    <% if user_signed_in? %>
    <li class="nav-item"> 
        <%= link_to "Escribir", new_article_path, class:"nav-link" %>
    </li>
    <li class="nav-item"> 
        <%= link_to "Mi perfil", perfil_path, class:"nav-link" %>
    </li>
    <li class="nav-item"> 
        <%= link_to "Categorias", categories_path, class:"nav-link" %>
    </li>
    <li class="nav-item"> 
        <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class:"nav-link" %>
    </li>
    <% else %>

    <li class="nav-item"> 
        <%= link_to "Iniciar Sesion", new_user_session_path, class:"nav-link" %>
    </li>

    <li class="nav-item"> 
        <%= link_to "Registro", new_user_registration_path, class:"nav-link" %>
    </li>
    <%end%>
</nav>