<div class="small-container center-block">
    <p class="font-weight-bold text-uppercase margin-top">Editar  usuario</p>

    <div class=" center-block">
        <% if current_user.avatar.attached? %>
            <%= image_tag url_for(current_user.avatar), height:200 %>
        <% end %>
    </div>

    <%= form_with(model: current_user, local: true) do |form| %>
        <div class="field">
         <%= form.label :avatar %>
         <%= form.file_field :avatar %>
        </div>

        <div class="field">
         <%= form.submit "Guardar", class:"btn btn-primary" %>   
        </div>
    <% end %>
</div>